@import "tailwindcss";

/* Declare all the GLOBAL COLORS, FONTS, CLASSES, etc. */
@theme {
  --color-primary: #ff00dd;
  --color-secondary: #0099ff;
  --color-surface: #1a1a1a;

  --spacing-section: 4rem;

  --radius-card: 12px;
}

/* Automatically apply a certain style to all the elements of given type */
@layer base {
  body {
    /* @apply bg-surface text-white font-sans; */
    @apply bg-gray-600;
  }

  h1, h2, h3 {
    /*@apply font-display;*/
  }
}

/* Custom components(classes, basically) that are not complicated enough to be dealed with as a React component */
@layer components {
  .btn-primary {
    /* @apply bg-primary text-white px-4 py-2 rounded-card; */
  }
}